gymnasium==0.29.1
huggingface-hub==0.23.4
imageio==2.34.2
matplotlib
numpy==1.26.4
openai==1.35.10
opencv-python==4.10.0.84
pandas
pillow
pygame==2.6.0
Pygments==2.18.0
PyOpenGL==3.1.7
pyparsing==3.1.2
scikit-learn
scipy
seaborn
sentence-transformers==3.0.1
sentencepiece==0.2.0
tensorboard
tensorboard-data-server
tokenizers==0.19.1
tqdm==4.66.4
transformers==4.41.2
accelerate==1.5.2
psutil==7.0.0
optimum==1.24.0
auto-gptq
